{% extends 'base.html.twig' %}

{% block body %}

    <h2>Envoyer un message à {{ user.username }}</h2>

    {{ form_start(messageForm) }}
    {{ form_widget(messageForm) }}
    <button>Envoyer</button>
    {{ form_end(messageForm) }}

{% endblock %}

{% block title %}
    Envoyer un message à {{ user.username }}
{% endblock %}

